<h1>{{title}}</h1>
{{!-- {{#if success}} --}}
<div id="session" class="right">
<p>Hola {{nombre}} {{apellido}}
    <br>
<a href="/salir">Salir</a></p>
</div>
<main style="clear: both;">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias animi nulla dolore voluptatibus maxime quasi culpa quam hic modi in rem, voluptatem sapiente minus quaerat non aut corporis id accusamus Lorem ipsum dolor sit amet consectetur adipisicing elit. Error et dignissimos nesciunt voluptatibus. Quis, omnis ipsum, mollitia, quia architecto nulla non quaerat aliquam rerum molestiae at tempora sed possimus numquam!</p>
</main>
{{!-- {{/if}} --}}