<div class="form">
    <h3>Ingrese sus datos.</h3>
    <p class="nom2">{{mensjfail}}</p>
    <form action="/logon" method="post">
        <div class="nom1">
            <div class="nom2">{{nombrefail}}</div>
            <br>
            <input type="text" placeholder="Nombre" name="nombre">
        </div>
        <div class="nom1">
            <div class="nom2">{{apellidofail}}</div>
            <br>
            <input type="text" placeholder="Apellido" name="apellido">
        </div>
        <br>
        <div class="form2">
            <div id="someth" class="nom2">{{passfail}}</div>
            <br>
            <input type="password" placeholder="Password" name="password">
            <button>Login</button>


        </div>
    </form>
</div>