<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

  {{{body}}}

  <footer>
        &copy;2022 Research Lab Inc. Todos los derechos reservados.
    </footer>
</body>

</html>