.sectpad{
    padding-top: 10%;
}

.confia{
    float: right; 
    width: 30%;
}

.sectpad h2, .sectpad p, .sectpad div{
    text-align: center
}

.sectpad input[type=text] {
    width: 60%;
    padding: 0.75em 1em;
    margin: 0.5em;
    display: inline-block;
    box-sizing: border-box;
    box-shadow: 2px 1px black;
}