body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  line-height: 20px;
  background: #add8e6;
  background: linear-gradient(166deg,#add8e6 0%, #000080 130%);
}

/*Universal Styles*/

.holder{ 
  max-width: 960px; 
  margin: 0 auto;
}
.holder2{ 
  max-width: 1200px; 
  margin: 0 auto;
}

.left{
  float: left;
}

.right{
  float: right;
}

.txtright{
  text-align: right;
}
