
<div  style="text-align: center;">
<h3>Ingrese sus datos.</h3>
<form action="/portal" method="GET">
    <input type="text" name="log">
    <input type="password" name="pass">
    <button>Login</button>
</form>
</div>