/*Work in Progress.*/

header {
    padding-left: 1em;
}


nav ul li {
    width: 30%;
}

nav ul li a {
    padding: 0.8em 0.8em;
}

.animation {
    animation-name: introscroll;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    margin: auto;
    
        }
    
    @keyframes introscroll {
        from {
            font-size:2.5em;
            margin-left:5%;
        }
    
        40% {
            font-size: 2.5em;
            margin-left: 5%;
        }
    
        to {
            font-size: 2.5em;
            margin-left:5%;
        }
    }

.pedro{
    width: 65%;
}

.mobsec1{
    text-align: center;
}

.staffcont{
    width: 100%; 
}

.staffcont img{
    margin: 1%;
    margin-top: 5%;
}

div.staffcont.right{
    float: left;
    margin-left: 0;
}

.staffcont:nth-of-type(1){
    border-radius: 0px 0px 0px 0px;
}

.staffcont:nth-of-type(2){
    border-radius: 0px 0px 0px 0px;
}

.staffcont:nth-of-type(2n+3){
    border-radius: 0px 0px 0px 0px;
}

.staffcont:nth-of-type(2n+4){
    border-radius: 0px 0px 0px 0px;
}

.staffcont:nth-last-of-type(2){
    border-radius: 0px 0px 0px 0px;
}

.staffcont:last-of-type{
    border-radius: 0px 0px 0px 0px;
}