<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/adminstyle.css' />
</head>

<body>

  <nav>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/recursos">Recursos</a></li>
      <li><a href="/novedades">Novedades</a></li>
      <li><a href="/login">Portal Admin</a></li>
    </ul>
  </nav>

  {{{body}}}

  <footer>
        &copy;2022 Research Lab Inc. Todos los derechos reservados.
    </footer>
</body>

</html>