<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/adminstyle.css' />
</head>

<body>

  <nav>
    <ul>
      <li><a href="/admin/home">AdminHome</a></li>
      <li><a href="/portal">Portal</a></li>
      <li><a href="">Novedades</a></li>
      <li><a href="/login/logout">Logout</a></li>
    </ul>
  </nav>

  {{{body}}}

  <footer>
        &copy;2022 Research Lab Inc. Todos los derechos reservados.
    </footer>
</body>

</html>